body{
    background-color: rgb(218, 241, 236);
    text-align: center;
}
.logo{
    position: relative;
    height: 300px;
}
.icone{
    position: relative;
    width: 10%;
    marigin: 2%;
}
.imagem{
    position: relative;
    height: 6%;
    margin: 2%;
}
.home{
    position: relative;
    height: 45px;
}
.slogan{
    position: relative;
    width: 300px;
}
.ass{
    position: relative;
    width: 150px;
}
