body{
    background-color: rgb(218, 241, 236);
    text-align: center;
}
.logo{
    position: relative;
    height: 300px;
}
.icon{
    position: relative;
    heigth: 25px;
    margin: 15px;
}
.imagem{
    position: relative;
    height: 25px;
    margin: 20px;
}
.home{
    position: relative;
    height: 45px;
}
.slogan{
    position: relative;
    width: 300px;
}
.ass{
    position: relative;
    width: 150px;
}
