body{
    background-color:rgb(218, 241, 236) ;
    text-align: center;
}
.cabeçalho{
    background-color: rgb(162, 193, 253);
    border-width: 0.7px;
    border-style: solid;
    border-color: #000;
    border-radius: 5px;
    height: auto;
}
.brasil{
    position: relative;
    height: 30px;
    margin-left: 90%;
    margin-top: 10px;
}
.logo{
    margin: 9%;
    position: relative;
    height: 200px;
}
.icone{
    position: relative;
    width: 65px;
    margin: 20px;
}
.icone:hover{
    width: 75px;
}
.icone1{
    position: relative;
    width: 90px;
    margin: 20px;
}
.icone1:hover{
    width: 95px;
}
.rodape{
    background-color:rgb(162, 193, 253);
    border-radius: 5px;
    border-width: 0.7px;
    border-style: solid;
    border-color: #000;
    height: auto;
}
.imagem{
    position: relative;
    height: 40px;
}
.imagem:hover{
    height: 50px;
}
.cooperacao1{
    position: relative;
    margin: 10px;
    color: black;
}
.cooperacao2{
    position: relative;
    margin: 10px;
    color: black;
}
.cooperacao3{
    position: relative;
    margin: 10px;
    color: black;
}
.mensagem{
    height: 100px;
    width: 190px;
}
.icon{
    position: relative;
    height: 25px;
}
.slogan{
    position: relative;
    height: 65px;
}
.ass{
    position: relative;
    width: 150px;
}
.botaoenv:hover{
    background-color: rgb(92, 255, 155);
    color: black;
    width: 60px;
    height: 25px;
    border: none;
}
